<div class="details">
  <h3>{{(projectToDisplay | async).name}}</h3>
  <h4>Project Managers:</h4>
  <p *ngFor="let manager of (projectToDisplay | async).projectManagers">{{manager}}</p>
  <h4>Description:</h4>
  <p>{{(projectToDisplay | async).description}}</p>
  <h4>Funding Goal:</h4>
  <p>${{(projectToDisplay | async).goal}}</p>
  <h4>Funds Raised:</h4>
  <p>${{(projectToDisplay | async).fundsRaised}}</p>
  <h4>Intention:</h4>
  <p>{{(projectToDisplay | async).intention}}</p>
</div>


<app-fund [fundProject]="(projectToDisplay | async)"></app-fund>
