<button (click)="beginFundProject(5)" type="button" name="button" class="btn">$5</button>
<button (click)="beginFundProject(10)" type="button" name="button" class="btn">$10</button>
<button (click)="beginFundProject(20)" type="button" name="button" class="btn">$20</button>
<button (click)="beginFundProject(50)" type="button" name="button" class="btn">$50</button>
<button (click)="beginFundProject(100)" type="button" name="button" class="btn">$100</button>
<hr>
<div class="funds">
  <label for="funds">Other amount:</label>
  <input type="number" name="funds" #newFunds placeholder="whole number" class="form-control">
  <br>
  <button (click)="beginFundProject(newFunds.value);" type="button" name="button" class="btn bottom">Fund</button>
</div>
